# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# ChromaDB
backend/vector_db/

# Uploaded Files
backend/uploads/

# Alembic cache
alembic/__pycache__/

# Node
node_modules/