# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Pytest / MyPy
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Uploads
uploads/

# Chroma Vector DB
vector_db/

# Alembic Cache
alembic/__pycache__/

# Node
node_modules/