#heading{
    text-align: center;
    background-color:aqua;
    color:black;
    font-family:cursive;
}

#firstpara{
    color:red;
    font-size:28px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#college{
    color:brown;
    text-align: center;
    background-color:lightgreen;
}

#second{
    font-size:24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blueviolet;

}

#skills{
    color:chocolate;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    text-align:center;

}

.skill{
    text-align:center;
    color:crimson;
    font-size:20px;
}

#skl{
    text-align:center;
}

#nameclg{
    font-size:40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#info{
    color:darkgoldenrod;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:35px;
}

#clgadd{
    color:peru;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;

}

#firstbut{
    color:blueviolet;
    background-color: rgb(196, 150, 150);
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}